.animal-container {
    width: 220px;
    max-width: 33vw;
    height: 250px;
    position: absolute;
    transition: transform 3s ease-in-out;
    /*transition-property: top, left, transform;*/
    background: transparent;
}

.animal {
}