.animal-container {
    width: 220px;
    max-width: 40vw;
    height: 250px;
    position: absolute;
    transition: all 3s ease-in-out;
    transition-property: top, left;
    background: transparent;

}

.animal {
}