.animal-info-container {
    width: 100vw;
    height: 120%;
    position: absolute;
    top: 20%;
    background-color: #608a5d;
    z-index: 10;
}

.info-animal-name{
    margin: 5px 25px 5px 25px;
    color: #621a1a;
    text-align: center;

    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    word-spacing: 10px;
}

.info-animal-description {
    margin: 5px 25px 0 25px;
    color: wheat;
    text-align: justify;
    text-justify: distribute-all-lines;
}


.info-animal-image {
    display: block;
    margin: 0 auto 0 auto;
    width: 300px;
    max-width: 50vw;
}

.stats-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto 5px auto;
}

.flex-width-padding {
    flex: auto;
}

.info-animal-stats {
    flex-grow: 0;
    height: auto;

    width: 300px;
    max-width: 50vw;
}

.info-animal-stats-bar {
    margin: 5px 0 5px 0;
    height: 20px;
    width: 50%;
    background-color: #b93333;
    border-radius: 5px;
}

.info-animal-stats-bar-label {
    margin: 5px 0 5px 0;
    padding: 0 3px 0 0;
    font-family: sans-serif;
    font-weight: bold;
    color: #5b3838;
    text-align: right;
    transform: skew(-15deg);
}