.main-container{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #8c8cd7;
    overflow: hidden;
}

.breed-button{
    background-color: mediumvioletred;
    color: white;
    font-size: 2rem;
    font-family: Bahnschrift;
    width: 100vw;
    height: 50px;
}

.breed-button:hover{
    background-color: #9d146a;
    color: #a7a7a7;
    width: 100vw;
    height: 50px;
}

.breed-button:active{
    background-color: #1f9d14;
    color: black;
    width: 100vw;
    height: 50px;
}

.console {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 18vh;
    z-index: 10;

    overflow-y: scroll;
}

.console::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.console-text {
    margin: 0 0 0 10vw;
    color: #3af900;
    font-family: Bahnschrift;
    text-align: left;
    white-space: pre-wrap;
}